// Style Utilities
@import '../../assets/scss/utils';
@import '../../assets/scss/reset';
@import '../../assets/scss/variables';

.restaurant-list {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item {
    + * {
      margin-top: 2.5vh;
    }
    position: relative;
    width: 100%;
    padding: 1em 0.5em;
    background-color: $primary-alt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light;
    cursor: pointer;

    &.pass {
      background-color: $secondary;
      color: $primary;
    }

    &.fail {
      background-color: $alert;
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $dark;
        opacity: 0.7;
        z-index: 10;
      }
    }

    &__title {
      font-size: rem-calc(22);
      font-weight: bold;
      text-align: left;
    }

    &__result {
      text-align: right;
    }
  }
}
